meta(name="description" content=description)
meta(name="Classification" content="Business")
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="https://content.sba.gov/sites/default/files/2020-05/SBASEOImage.jpg")
meta(property="og:site_name" content=title)
meta(property="og:type" content="website")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:card" content="summary")
meta(name="twitter:image" content="https://content.sba.gov/sites/default/files/2020-05/SBASEOImage.jpg")
meta(name="twitter:site" content="@sbagov")
