meta(name="description" content=description)
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content="https://www.sba.gov/sites/default/files/images/HPSEOImage.jpg")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:card" content="summary")
meta(name="twitter:image" content="https://www.sba.gov/sites/default/files/images/HPSEOImage.jpg")
meta(property="og:site_name" content=title)
