doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=description)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content="https://www.sba.gov/sites/default/files/images/HPSEOImage.jpg")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:image" content="https://www.sba.gov/sites/default/files/images/HPSEOImage.jpg")
    meta(property="og:site_name" content=title)
    title= title
    script(src='/assets/scripts/purify.min.js')
    script(type="text/javascript").
        window.CONFIG = !{config}
  body
    #root
    script(src='/build/bundle.js')
    script(src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript")
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400i|Source+Sans+Pro:400,500,600,700,800,900" rel="stylesheet")
    script(type="text/javascript").
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
      }
